In [77]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [85]:
diamonds=pd.read_csv("diamonds.csv")
diamonds=diamonds.drop(["Unnamed: 0",'cut_ord','clarity_ord'],axis=1)
diamonds.head()

   carat        cut color clarity  price
0   0.51    Premium     F     VS1   1749
1   2.25       Fair     G      I1   7069
2   0.70  Very Good     E     VS2   2757
3   0.47       Good     F     VS1   1243
4   0.30      Ideal     G    VVS1    789

In [86]:
diamonds=pd.get_dummies(data=diamonds,columns=['cut','color','clarity'])
diamonds.head()

,carat,price,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.51,1749,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1,2.25,7069,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0.70,2757,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,0.47,1243,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,0.30,789,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [87]:
new=pd.read_csv("new-diamonds.csv")
new=new.drop(['Unnamed: 0','cut_ord','clarity_ord'],axis=1)
new.head()

   carat        cut color clarity
0   1.22    Premium     G     SI1
1   1.01       Good     G     VS2
2   0.71  Very Good     I     VS2
3   1.01      Ideal     D     SI2
4   0.27      Ideal     H    VVS2

In [88]:
new=pd.get_dummies(data=new,columns=['cut','color','clarity'])
new.head()

,carat,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,1.22,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,1.01,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,0.71,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,1.01,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0.27,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [91]:
X=diamonds.drop(['price'],axis=1)
y=diamonds['price']
X_test=new

In [95]:
Linear=LinearRegression()
Linear.fit(X,y)
prediction=Linear.predict(X_test)
sum(prediction)*0.7

8230073.249999999

In [96]:
newest=new

In [110]:
k=[[6.22, 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  ]]
j=[[7.22, 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  ]]
Linear.predict(k)*0.7

array([36258.95])

In [112]:
Linear.predict(j)*0.7

array([42472.15])

In [113]:
42472.15-36258.95

6213.200000000004